*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    width:100%;
    height:100vh;
    background-color:gray;
    display:flex;
    flex-direction: column;
}
.container h1{
    text-align: center;
    margin:0 auto;
    padding:50px;
    flex:1;
}
.container-menu{
flex:3;
   
    display:flex;
    flex-direction: row;
}
.container-menu .glob{
    flex:1;
    display:flex;
}
.container-menu .glob button {
    margin:auto;
    font-size:80px;
    background:none;
    border: none;
    cursor:pointer;
    border: 2px solid red;
    padding:30px;
    border-radius: 35%;
}
.container-score{
    flex:2;
    display:flex;
    flex-direction: row;
}
.container-score .glob2{
    flex:1;
    margin:auto;
    display:flex;
    justify-content: center;

}
.glob2 p{
    text-align: center;
}
.glob2 span{
    text-align: center;
}
.remis-container{
    width:100%;
    display:flex;
    justify-content: center;
}
.remis-container p{
    text-align: center;
}


.active{
    background-color:yellow;
}

